---
name: test

on: 
  pull_request

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Build Application
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: running the test
        run: |
          cd node
          npm install
          npm test